<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Auto Transport Content Generator</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">

  <!-- Navigation -->
  <section class="hero is-success">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-6 is-offset-3">
              <h1 style="text-align: center" class="title">{{appTitle}}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container is-relative">
      <div class="columns">
        <div class="column is-4 is-fixed-xl">

          <!-- Select Job Type -->
          <div class="field">
            <label class="label">Job Type</label>
            <div class="control">
              <div class="select">
                <select v-model="mainStateAbbreviation" @change="getMainStateData">
                  <option
                    v-for="state in allStates"
                    :value="state.abbreviation">
                      {{ state.name }}  
                  </option>
                </select>
              </div>
            </div>
          </div>

          <!-- Select number of cities -->
          <div class="field">
            <div class="control">
              <label class="label" for="random-city-number">Random City Number</label>
              <input v-model="randomCityNumber" class="input" id="random-city-number" type="number">
            </div>
          </div>

          <!-- Select number of random transports -->
          <div class="field">
            <div class="control">
              <label class="label" for="random-transport-number">Random Transports Number</label>
              <input v-model="randomTransportsNumber" class="input" id="random-city-number" type="number">
            </div>
          </div>

          <!-- Select number of body types -->
          <div class="field">
            <div class="control">
              <label class="label" for="random-body-type-number">Random Body Type Number</label>
              <input v-model="randomBodyTypeNumber" class="input" id="random-body-type-number" type="number">
            </div>
          </div>

          <!-- Select number of accessories -->
          <div class="field">
            <div class="control">
              <label class="label" for="random-accessory-number">Random Accessory Number</label>
              <input v-model="randomAccessoryNumber" class="input" id="random-accessory-number" type="number">
            </div>
          </div>

          <!-- Select number of rate impacts -->
          <div class="field">
            <div class="control">
              <label class="label" for="random-rate-impact-number">Random Rate Impact Number</label>
              <input v-model="randomRateImpactNumber" class="input" id="random-rate-impact-number" type="number">
            </div>
          </div>

          <!-- Select number of shipping impacts -->
          <div class="field">
            <div class="control">
              <label class="label" for="random-shipping-impact-number">Random Shipping Impact Number</label>
              <input v-model="randomShippingImpactNumber" class="input" id="random-shipping-impact-number" type="number">
            </div>
          </div>

          <!-- Generate Button -->
          <a href="#" class="button is-medium is-success is-fullwidth"
            @click="generateContent">
              Generate Content
          </a>

        </div>
        <div class="column is-8">

          <!-- --------------------------------- Display All Content ------------------------ -->

          <div class="card"
            v-if="showContent">
            <div class="card-content">

              

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>