/******************** Form styles ********************/

a.button {
  margin: 1.5rem 0;
}

ul.list--styled li {
  margin-left: 1.5rem;
  list-style: disc;
}

.card {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  margin-bottom: 1.5rem;
}

ul {
  margin-bottom: 1.5rem;
}

@media (min-width: 64rem) {
    .list--2-rows {
      column-count: 2;
      padding-left: 0;
    }
    
    .list--3-rows {
      column-count: 3;
      padding-left: 0;
    }
    
    .list--5-rows {
      column-count: 3;
      padding-left: 0;
    }
    
    .list--2-rows li,
    .list--3-rows li,
    .list--5-rows li {
      list-style-position: inside;
      -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                     break-inside: avoid;
    }
}


/************* Navigation ************/

.navigation {
  text-align: center;
}


/**************** Subheadings *********/

.app-subheading {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}